@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-btn{
    background-color: transparent;
    border: transparent;
    box-shadow: none;
}
.active{
    background-color: #804818;
    color: #ffd2aa;
}